BOT_CLIENT_ID="1492819533050806282"
BOT_CLIENT_SECRET="blAdhcX6hcOA0NFS-oyS4fID-nQ1pocs"

# The absolute url of the dashboard (Production)
APP_URL="http://localhost:3000"

# The absolute url of the api endpoint of your bot (Production)
NEXT_PUBLIC_API_ENDPOINT="http://localhost:8080"
